.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: 1px solid grey;
  padding: 1rem;
  margin-top: 50px;
}

.form__fileInput {
  display: none;
}

.form__fileLabel {
  background-color: azure;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: #dde;
  }
}

.form__textInput {
  border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px;
}

.form__btn {
  background-color: brown;
  color: azure;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #dde;
  }
}
.success {
  color: green;
  font-size: large;
  margin: 20px auto;
  font-style: italic;
}

.error {
  color: red;
  font-size: large;
  margin: 20px auto;
  font-style: italic;
}
