.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 120px;
  padding: 60px;
  border: 1px solid #ccc;
  background-color: #111;
  color: #f5f5f5;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 30px;
}
.header {
  padding: 30px 0px;
}
.nav {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
}

.nav__signin_btn {
  padding: 5px;
}

.nav__signup_btn {
  padding: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 20px;
}

.form__email {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__email_input {
  width: 50%;
  height: 25px;
}

.form__pswrd {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__pswrd_input {
  width: 50%;
  height: 25px;
}

.form__btn {
  width: 100px;
  height: 30px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form__pswrdConfirm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__pswrdConfirm_input {
  width: 50%;
  height: 25px;
}

.form__error {
  color: red;
  font-style: italic;
}
