// btns.module.scss

.authButtons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.authButtons__btn {
  background-color: #2e2e2e;
  color: #fff;
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: #3a3a3a;
  }
}

.active {
  background-color: darkgoldenrod;
}
